
#color-slider-base{
    margin-top: 4px;
    padding-top: 4px;
}

.color-slider-label{
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
    font-size: 12px;
    background-color: #4a4a50;
    border-style: solid;
    border-width: 1px;
    border-color: #222;
}


.color-box{
    border-style: none;
    width: 70%;
    background-color: rgb(124, 145, 192);
    outline: double #999;
}

.main-color{
    border: yellow;
    border-width: 1px;
}

.add-button{
    width: 20%;
    padding: 1px;
    margin-left: 2%;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    background-color: #445;
    visibility: visible;
}
.add-button:hover{
    background-color: #556;
}
.add-button:active{
    background-color: #334;
}
  

