
#color-palette-area{
    margin-top: 4px;
    height: 60vh;
    overflow: auto;
}

#color-palette-back{
    height: 95%;
    background-color: #444;
    border: solid;
    border-color: #222;
    border-width: 2px;
    border-radius: 4%;
    margin: 1%;
    padding: 2px;
}

.palette-button{
    margin: 1px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    border: solid;
    border-color: #222;
    border-width: 1px;
    border-radius: 15%;
}
.selected-color{
    border: ridge;
    border-color: rgb(255, 213, 26);
    border-width: 3px;
    border-radius: 15%;  
}
.delete-button{
    background: none;
    filter: brightness(1.2);
    width: 25px;
    height: 25px;

    border-color: #555;
    padding: 1px;
    
}


.palette-button:hover{
    height: 30px;
}



